h1{
    text-align: center;
}
table {
    border: 10px solid #ccc;
    box-shadow: 10px 10px 10px #000;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
th {
    background-color:palegreen;
}
td{
    border: 1px solid #000;
}
.cel2{
    background-color: aqua;
    text-align: left;
}
.cel6   {
    background-color: lightcoral;
    text-align: right;
    vertical-align: bottom;
}
.celred{
    color: red;
}